<div class="section8">
  <div class="d-flex flex-md-row flex-column justify-content-center align-items-center s8_cont">

    <div class="me-0 me-md-4 ms-lg-5 ms-0">

      <div class="text-center wow fadeInLeft" data-wow-offset="200">
        <h2>{{ section.settings.heading }}</h2>
        <h4 class="mt-4 mb-4">{{ section.settings.subtitle }}</h4>
      </div>

      <br>
      
      <a name="formcontact"></a>

      {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      
      
      {% for field in form.errors %}
          {% if field == 'form' %}
      		<div class="alert alert-danger">
              <strong>Error</strong> {{ form.errors.messages[field] }}
            </div>
            
          {% else %}
      
      		<div class="alert alert-danger">
              <strong>Error</strong> {{ form.errors.translated_fields[field] }} - {{ form.errors.messages[field] }}
            </div>
            
          {% endif %}
      {% endfor %}
      
      
      {%- if form.posted_successfully? -%}
      <div class="alert alert-success">
        <strong>¡Éxito!</strong> El mensaje se ha enviado correctamente
      </div>
      
      <script>alert("El mensaje se ha enviado con éxito");</script>

      {%- elsif form.errors -%}
        <div class="alert alert-danger">
          <strong>Faltan datos en tus campos o hubo un error en el envío</strong>
        </div>
      
      <script>alert("ERROR: Faltan datos en tus campos o hubo un error en el envío");</script>
      {%- endif -%}
      
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label><br>
          <input type="text" class="w-100" id="ContactForm-name" required name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email</label><br>
          <input type="email" class="w-100" id="ContactForm-email"  required name="contact[email]" spellcheck="false" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" aria-required="true"
                    {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="ContactForm-email-error" {% endif %}>
        </div>
        <div class="mb-3 mt-3">
          <label for="asunto" class="form-label">Asunto</label><br>
          <input type="text" class="w-100" id="ContactForm-subject" name="subject"  required>
        </div>
        <div class="mb-3 mt-3">
          <label for="comment">Mensaje</label><br>
          <textarea class="w-100" rows="5" id="ContactForm-body"  required name="contact[{{ 'templates.contact.form.comment' | t }}]">{{- form.body -}}</textarea>
        </div>
        <button type="submit" class="an1Btn">Enviar</button>
      </form>
      
      {%- endform -%}

    </div>
    {%- if section.settings.img != blank -%}
	<img src="{{ section.settings.img }}" class="s8_img">
    {% else %}
    <img src="https://cdn.shopify.com/s/files/1/0639/0264/6525/files/s8_img.png?v=1651267479" class="s8_img ms-lg-5 ms-0">
	{%- endif -%}
  </div>
</div> <!--Close section8-->


{% schema %}
{
  "name": "contactform",
  "settings": [
{
	"type": "text",
	"id": "heading",
	"label": "Cabecera",
	"default": "Contacto"
},
{
	"type": "text",
	"id": "subtitle",
	"label": "Subtitulo",
	"default": "Nos interesa conocer tu opinión"
},
{
	"type": "image_picker",
	"id": "img",
	"label": "Imagen"
}
],
  "presets": [
    {
      "name": "contact"
    }
  ]
}
{% endschema %}

